## Exploring Descriptive Statistics

Use the following dataset to answer the questions about the **diamonds** dataset.

In [8]:
# Run this cell without changes
import pandas as pd

In [9]:
!ls ../pandas-202/

diamonds.csv index.ipynb

In [10]:
# Run this cell without changes
df = pd.read_csv('../pandas-202/diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

**1) What are the mean carat and the median carat for the each group of color in this dataset?**

In [ ]:
# Code here to find the mean carat and median carat

In your own words, how are the mean and median related to each other and what do these values tell us about the distribution of the variable 'Age'

In [ ]:
# Your written answer here

**2) Arrange the table so that the diamonds with the highest carats are listed first.**

In [6]:
# Code here

**BONUS 1: Use the seaborn library to make a scatter plot between carat and depth, carat and table, carat and price. Use the hue argument to group by either color or cut**

In [ ]:
# Your code here!

**BONUS 2: Calculate the correlation coeffecient between each continuous variable in this dataset.**

In [7]:
# Your code here!

**BONUS 3: Interpret each correlation coeffecient. Refer to your READMEs, Labs, or external literature if needed!**

Your answer here!