## Pandas Data Cleaning

Here you will work with the DIAMONDS dataset!

**1) Read the CSV file into a pandas dataframe**

The data you'll be working with is found in a file called `'.diamonds.csv'`.  Use your knowledge of pandas to create a new dataframe using the csv data. 

Check the contents of the first few rows of your dataframe, then show the size of the dataframe

In [27]:
# Run this cell without changes to import the necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

!ls

diamonds.csv index.ipynb

In [28]:
# Replace None with appropriate code
df = pd.read_csv('diamonds.csv')

In [29]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [30]:
df.shape

(53940, 10)

**2. Check to see if there are any missing values for the dataset**
    
**Write some code below to show how you would find missing values. Write a small response that you might share with a team member reporting you checking for missing data**

In [35]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [32]:
# Code here to check how many rows are left

**3) Make a new metric**

Create a new variable that reflects price per weight (carat). Call the new variable "ppc" for price per carat. You will need to divide the carat column by the price column.

In [43]:
df["ppc"] = df["carat"]/df["price"]

In [45]:
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,ppc
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.000706
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.000644
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.000703
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.000868
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.000925